<navbar></navbar>
  <!-- Position Bar -->
  <nav class="navbar-inverse navbar homenav snav">
    <ul ng-class="posCol" class="newbrand">
      <a href="/#/" >
        <img class="navbar-brand" id="brand" src="<%= image_path('newlogo.png') %>">
      </a>
    </ul>

    <ul ng-class="posCol" class="addposition">
      <li class="active">
        <form class="add-position-form" dnd-nodrag ng-submit="positionForm.create()">
          <input class="forms-control" type="text" name="name" ng-model="newPosition.name" required="required" placeholder="Add a new position" maxlength="36">
          <button type="submit" class="subchck btn submit down-button addPos" ><i class="fa fa-plus"></i></button>
        </form>
      <li>  
    </ul>

    <ul ng-class="posCol" 
    class="nav navbar-nav side-nav" 
    dnd-list="positions" 
    dnd-allowed-types="positions"> 

      <li ng-repeat="position in positions" 
      dnd-draggable="position"
      dnd-moved="positions.splice($index, 1); positionSave()"
      dnd-effect-allowed="move"
      dnd-selected="models.selected = position"
      class="background-{{position.name}}"
      dnd-type="position" 
      ng-click="getPosition(position); hideTech()">
         <span class="position-a" ><span class="handle positionspan"><i class="fa fa-ellipsis-v position-handle"></i></span> <span dnd-nodrag id="posName" >{{ position.name}}</span> 
         <button ng-really-message="Are you sure you want to delete this position?" ng-really-click="delete(position)" class="deletePos"><i class="fa fa-times-circle-o"></i></button></span>
      </li>
      <li class="dndPlaceholder">
        <span class="placeholder-text"><strong>Drag and drop to reorder position</strong></span>
     </li>
    </ul>
  </nav>

  <!-- TTYPE HEADDER -->
  <div ng-class="ttypeCol; smTtypeCol" class="ttype-head">
    <span class="ttype-text">{{currentPositionName}}</span>
    <form ng-submit="techTypeForm.create()" class="create-ttype">
      <input class="forms-control-tech" type="text" name="name" ng-model="newTechType.name" ng-disabled="!techTypeInput" required="required" placeholder="Add a new intention"  maxlength="32">
      <button type="submit" class="subchck btn submit down-button addTech" ><i class="fa fa-plus"></i></button>
    </form>
  </div>

  <!-- TECHNIQUE HEADER -->
  <div class="newtech-head">
    <!-- PROFICIENCY -->
    <div class="select-style">
      <select  ng-disabled="!proficiencySelect" name="repeatSelect" ng-model="profData.repeatSelect"  ng-change="setProf(profData.repeatSelect)" ng-class="{profActivate: !proficiencySelect}">
        <option value=""> Proficiency level</option>
        <option ng-repeat="option in profData.availableOptions" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
    <!-- ICONS -->
    <div>
      <span id="blocker"></span>
      <a href=""  ng-click="addVideo()"><i class="fa fa-play-circle-o icons" id="video" data-toggle="tooltip" data-placement="bottom"  title="Add a youtube video"></i>
      </a>
      <a href="" ng-click="addNotes()" class="steps-notes-icon-margin"><i class="fa fa-pencil-square-o icons" id="notes"  data-toggle="tooltip" data-placement="bottom" title="Add other technique notes"></i>
      </a>
      <a href="" ng-click="addSteps()" class="steps-notes-icon-margin"><i class="fa fa-th-list icons" id="steps" data-toggle="tooltip" data-placement="bottom" title="Add technique steps"></i>
      </a>
    </div>
  </div>

  <!-- BACKGROUND -->
  <div ng-class="toggleClass" class="bg-addposition-container" ng-hide="showTechTypes">
    <div ng-show="positionBg">
      <a ng-init="imgsrc4='<%= image_path('addPositon2.png') %>'">
        <img id="bg-addposition" ng-src="{{imgsrc4}}">
      </a>
    </div>
    <div ng-show="ttechBg">
      <a ng-init="imgsrc5='<%= image_path('addTechType3.png') %>'">
        <img id="bg-addposition" ng-src="{{imgsrc5}}">
      </a>
    </div>
  </div>

<!-- TECHNIQUE TYPE  COLUMN-->
<div ng-class="ttypeCol; smTtypeCol" class="ttype-capsule" ng-show="showTechTypes">
  <!-- TECHNIQUE CARDS -->
  <div ng-show="currentPosition" 
  dnd-list="technique_types" 
  dnd-allowed-types="technique_types" 
  class="tnav">
    <div class="ttype-card-container" ng-repeat="technique_type in technique_types" 
    dnd-draggable="technique_type" 
    dnd-type="technique_type"
    dnd-moved="technique_types.splice($index, 1); ttypeSave()" 
    dnd-effect-allowed="move" 
    dnd-selected="models.selected = technique_type">
      <div class="ttype-card-header" >
        <button ng-really-message="Are you sure you want to delete this intention?"  ng-really-click="deleteTechType(technique_type)" class="deleteTType">Delete</button>
        <p><span class="handle ttypespan"><i class="fa fa-ellipsis-v"></i></span><span dnd-nodrag>{{ technique_type.name}}</span></p>
      </div>
      <ul class="nav ttype-card-hover" dnd-list="technique_type.techniques" dnd-allowed-types="technique_type.techniques">
        <li ng-repeat="technique in technique_type.techniques" dnd-draggable="technique" dnd-moved="technique_type.techniques.splice($index, 1); techniqueSave()" dnd-effect-allowed="move" dnd-selected="models.selected = technique" dnd-type="technique" class="tech-row">
          <span class="tech-a" angular-ripple href="" ng-click="getTechnique(technique_type, technique)"><span class="handle techspan"><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span><span dnd-nodrag> {{technique.name}}</span><div ng-class="{'prof-color4': technique.proficiency === null, 'prof-color3': technique.proficiency === '3', 'prof-color2': technique.proficiency === '2', 'prof-color1': technique.proficiency === '1'}"></div></span>
        </li>

        <li class="dndPlaceholder">
          <span class="tech-placeholder-text"><strong>Drag and drop to reorder technique</strong></span>
        </li>

        <li>
          <form ng-submit="techForm.create(technique_type)" class="add-tech-form">
            <input class="forms-control-tech" type="text" name="name" ng-model-options="{updateOn : 'change blur'}" ng-model="newTech.name" required="required" placeholder="Add a new technique"  maxlength="40">
            <button type="submit" class="subchck btn submit down-button addTech" ><i class="fa fa-plus"></i></button>
          </form>
        </li>
      </ul>
    </div>

    <div class="dndPlaceholder">
      <span class="ttype-placeholder-text"><strong>Drag and drop to reorder intention</strong></span>
    </div>
  </div>
</div>

<!-- TECHNIQUE COLUMN-->  
<div class="technique-capsule" ng-show="showTechTypes">
  <!-- BACKGROUND -->
    <div ng-hide="techSelected">
      <a ng-init="imgsrc6='<%= image_path('addTech2.png') %>'">
        <img id="bg-addtech" ng-src="{{imgsrc6}}">
      </a>
    </div>
  <!-- DETAILS CARD CONTAINER -->
  <div class="details-card" ng-show="techSelected">
    <!-- HEADER -->
    <div class="right-card-header">
      <span>{{currentTechnique.name}}</span>
      <button ng-click="deleteTech(); backToTechs()" class="deleteTechRow">Delete</button>
    </div>
    <!-- MESSAGE IF NO DETAILS -->
    <div ng-show="showMessage">
      <a ng-init="imgsrc7='<%= image_path('addTechDetails2.png') %>'">
        <img id="bg-showmessage" ng-src="{{imgsrc7}}">
      </a>
    </div>
    <!-- VIDEO -->
    <div ng-show="showVideo" class="videocard">
       <button ng-show="doVideosExist" ng-click="editVideoBtn()" class="subchck btn submit down-button editVideo" >Edit video</button>
      <button class="deleteVideoBtn subchck btn submit down-button" ng-click="deleteVideo()">Delete video</button>
      <div  ng-show="doVideosExist" class="video-container"><iframe width="640" height="360" class="video-thumb" ng-src="{{trustSrc(vidSRC)}}">
      </iframe></div>
      <form ng-show="!doVideosExist" ng-submit="videoForm.create()" class="add-video-form">
        <label>Add a Youtube url: </label><input class="forms-control-video" type="text" name="name" ng-model-options="{updateOn : 'change blur'}" ng-model="newVideo" required="required" placeholder="e.g. https://www.youtube.com/watch?v=YaNLxS2-HEY">
        <button type="submit" class="subchck btn submit down-button addTech" ><i class="fa fa-plus"></i></button>
      </form>
     
    </div>
    <!-- STEPS -->
    <div class="step-container" ng-show="showSteps">
      <div class="step-list-container">
        <div class="step-list-header">
          <p> Steps </p>
        </div>
        <ul class="nav">
          <li ng-repeat="step in steps" class="step-row">
            <a><span class="step-text">{{$index +1}}. {{step.instruction}}</span><button ng-click="deleteStep(step)" class="deleteStepRow"><i class="fa fa-times-circle-o"></i></button></a>
          </li>
          <li>
            <form ng-submit="stepForm.create()" class="add-step-form">
              <input class="forms-control-step forms-control-step-sm" type="text" name="name" ng-model-options="{updateOn : 'change blur'}" ng-model="newStep" required="required" placeholder="Add a new step" >
              <button type="submit" class="subchck btn submit down-button addTech addStep" maxlength="1000" ><i class="fa fa-plus"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </div>    
    <!-- OTHER NOTES -->
    <div ng-show="showNotes" class="notes-block">
      <button ng-if="doNotesExist" ng-click="editNotesBtn()" class="subchck btn submit down-button editNotes" ><b>Edit Notes</b></button>
      <button  class="deleteVideoBtn subchck btn submit down-button" ng-click="deleteNotes()">Delete notes</button>
      <form ng-submit="notesForm.create()">
        <textarea ng-readonly="doNotesExist" rows="4" type="text" ng-model="newNotes" required="required" placeholder="Add any other notes you might have" maxlength="2000" id="text"></textarea>
        <button ng-if="!doNotesExist" type="submit" class="subchck btn submit down-button addNotes" ><b>Add Notes</b></button>
      </form>
    </div>
  </div>
</div>
