<navbar></navbar>

  <!-- Position Bar -->
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav side-nav"> 
      <li>
        <form ng-submit="positionForm.create()">
          <input class="forms-control" type="text" name="name" ng-model="newPosition.name" required="required" placeholder="Add a new position">
          <button type="submit" class="subchck btn submit down-button addPos" ><b>+</b></button>
        </form>
      </li>
      <li ng-repeat="position in positions">
        <a href=""class="fa fa-fw fa-arrows-v" ng-click="getPosition(position)"> {{ position.name}}
        <button ng-click="delete(position)" class="deletePos">✖</button></a>
      </li>
    </ul>
  </nav>

<!-- TECHNIQUE TYPE -->
<div class="ttype-capsule">
  <!-- HEADER -->
  <div class="ttype-head">
    <span>{{currentPositionName}}</span>
    <form ng-submit="techTypeForm.create()" class="create-ttype">
      <input class="forms-control-tech" type="text" name="name" ng-model="newTechType.name" required="required" placeholder="Add a new technique type">
      <button type="submit" class="subchck btn submit down-button addTech" ><b>+</b></button>
    </form>
  </div>
  <div class="block-spacing"></div>
  <!-- TECHNIQUE CARDS -->
  <div>
    <div class="ttype-card-container" ng-repeat="technique_type in technique_types">
      <div class="ttype-card-header">
        <button ng-click="deleteTechType(technique_type)" class="deleteTType">Delete</button>
        <p>{{ technique_type.name}}</p>
      </div>
      <ul class="nav">
        <li ng-repeat="technique in technique_type.techniques" class="tech-row">
          <a href="" ng-click="getTechnique(technique_type, technique)">{{technique.name}}<button ng-click="deleteTech(technique_type, technique)" class="deleteTechRow">✖</button></a>
        </li>
        <li>
          <form ng-submit="techForm.create(technique_type)" class="add-tech-form">
            <input class="forms-control-tech" type="text" name="name" ng-model-options="{updateOn : 'change blur'}" ng-model="newTech.name" required="required" placeholder="Add a new technique">
            <button type="submit" class="subchck btn submit down-button addTech" ><b>+</b></button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- TECHNIQUE COLUMN-->  
<div class="technique-capsule">
  <div class="tech-head">
    <a href="" ng-init="imgsrc1='<%= image_path('video.png') %>'" 
    ng-mouseover="imgsrc1='<%= image_path('videoh.png') %>'" 
    ng-mouseout="imgsrc1='<%= image_path('video.png') %>'" >
    <img id="video" ng-src="{{imgsrc1}}" data-toggle="tooltip" data-placement="bottom" title="Add a link to a video">
    </a>
    <a href="" ng-click="addSteps()" ng-init="imgsrc2='<%= image_path('steps.png') %>'" 
    ng-mouseover="imgsrc2='<%= image_path('stepsh.png') %>'" 
    ng-mouseout="imgsrc2='<%= image_path('steps.png') %>'">
     <img id="steps" ng-src="{{imgsrc2}}" data-toggle="tooltip" data-placement="bottom" title="Add technique steps">
     </a>
     <a href="" ng-click="addNotes()" ng-init="imgsrc3='<%= image_path('notes.png') %>'" 
    ng-mouseover="imgsrc3='<%= image_path('notesh.png') %>'" 
    ng-mouseout="imgsrc3='<%= image_path('notes.png') %>'">
      <img id="notes" ng-src="{{imgsrc3}}" data-toggle="tooltip" data-placement="bottom" title="Add other technique notes">
      </a>
   </div>
  <div class="details-card">

    <!-- HEADER -->
    <div class="right-card-header">
      <span>{{currentTechnique.name}}</span>
    </div>


    <!-- STEPS -->
    <div ng-show="showSteps">
      <div class="step-list-container">
        <div class="step-list-header">
          <p> Steps </p>
        </div>
        <ul class="nav">
          <li ng-repeat="step in steps" class="step-row">
            <a href="">{{$index +1}}. {{step.instruction}}<button ng-click="deleteStep(step)" class="deleteTechRow">✖</button></a>
          </li>
          <li>
            <form ng-submit="stepForm.create()" class="add-tech-form">
              <input class="forms-control-tech" type="text" name="name" ng-model-options="{updateOn : 'change blur'}" ng-model="newStep" required="required" placeholder="Add a new technique">
              <button type="submit" class="subchck btn submit down-button addTech" ><b>+</b></button>
            </form>
          </li>
        </ul>
      </div>
    </div>    

    <!-- OTHER NOTES -->
    <div ng-show="showNotes">
      <form ng-submit="notesForm.create()">
        <textarea ng-readonly="doNotesExist" rows="8" type="text" ng-model="newNotes" required="required" placeholder="Add any other notes you might have"></textarea>
        <button ng-if="!doNotesExist" type="submit" class="subchck btn submit down-button addNotes" ><b>Add Notes</b></button>
      </form>
      <button ng-if="doNotesExist" ng-click="editBtn()" class="subchck btn submit down-button editNotes" ><b>Edit Notes</b></button>
    </div>


  </div>
</div>


