<div class="dbody" data-spy="scroll" data-offset="80">
  <div class="navbar navbar-default-landing navbar-default navbar-fixed-top menu-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""> <img class="landing-brand" src="<%= image_path('newlogo.png') %>"></a>
      </div>
      <div class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav navbar-right">
          <li class="top-"><a class="top-link" href="#home">Log in</a></li>
          <li class=""><a class="top-link" href="#features-section">Features</a></li>
          <li class=""><a class="top-link" href="#how-it-works-section">How it works</a></li>
          <li class=""><a class="top-link" href="#pricing-section">Sign up</a></li>
        </ul>
      </div> 
    </div>
  </div> 
    <!-- Top content -->
  <div id="home" class="parallax top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 top-description">
            <h2 class="text-left"> Learn faster, <strong>your way</strong></h2>
            <p>Finally. A flexible dashboard to record, organise and master your techniques. Designed for all grappling sports.</p>
            <div class="top-button">
              <a class="btn1 btn-top-white btn-lg" href="#features-section"> Learn More</a>
            </div>
          </div>

  <!-- LOGIN -->
          <div class="col-md-5 col-sm-5">
            <div class="vertical-registration-form">
            <div ng-show="loginFail" class="alert alert-danger" id="loginFail" role="alert">Your username or password is not correct</div>
              <form class="registration-form" ng-submit="login()">
                <div class="form-group">
                  <input id="name" type="email" name="email" ng-model="loginForm.email" required="required"class="optin-input" placeholder="&#xf0e0;   Email">
                </div>
                <div class="form-group">
                  <input id="email" type="password" name="password" ng-model="loginForm.password" required="required" class="optin-input" placeholder=" &#xf023;    Password ">
                </div>
                <div>
                  <a class="pw-link" href="#/account/reset_password">Forgotten your password?</a>
                </div>
                <div class="form-group">
                  <button class="btn1 btn-top-white btn-lg btn-fix" type="submit">Log in</button>
                </div>                      
              </form>
            </div>
          </div>
        </div>
      </div>
         <img class="coming-soon" src="<%= image_path('comingsoon.png') %>">
    </div>
  </div>
    <!-- Features -->
  <div id="features-section" class="features-container">
    <div class="container">
      <div class="row">
      <h3 class="section-header"><span>Features</span></h3>

        <div class="col-sm-4 features-box1">
          <div class="icon">
            <img when-visible="animateElementFade" class="circles test" src="<%= image_path('frontpage-organise2.png') %>">
          </div>
          <h4>Record your techniques - your way</h4>
          <p>
            A flexible drag and drop dashboard that allows you to record and organise your techniques any way you like.  
          </p>
        </div>
        <div class="col-sm-4 features-box2">
          <div class="icon">
            <img when-visible="animateElementFade" class="circles test" src="<%= image_path('frontpage-details2.png') %>">
          </div>
          <h4>Learn the way you learn best</h4>
          <p>
            We all learn differently. Maybe you like to list moves step by step. Or maybe you like to watch demonstrations on youtube. Whichever way, we've got you covered. 
          </p>
        </div>
        <div class="col-sm-4 features-box3">
          <div class="icon">
            <img when-visible="animateElementFade" class="circles test" src="<%= image_path('frontpage-progress2.png') %>">
          </div>
          <h4>Add your technique profeciency</h4>
          <p>
            As you expand your game, some techinqies will be your "go to" moves and some will still be in development. Classify your techniques so that you truely understand your game.
          </p>
        </div>
      </div>
    </div>
  </div>    
  <!-- Picture -->
  <div id="picture-section" class="product-container product-bg1" >
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div when-visible="animateElementIn" class="product test">
            <img class="mockup" src="<%= image_path('GDmockup.png') %>">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HOW IT WORKS -->
  <div id="how-it-works-section" class="product-container product-bg2">
    <div class="container">
      <div class="row">
        <h3 class="section-header"><span>How it works</span></h3>
        <div class="col-lg-6 col-sm-6">
          <div class="productbox">
            <div>
              <i class="fa fa-map-o how-icon"></i>
            </div>
            <h5>It starts with <strong>WHERE</strong></h5>
              Start by adding positions that you will encounter in your sport. For example, a wrestler could add “Leg Set up” or “Tie up” as positions. 
          </div>
          <div class="productbox">
            <div>
              <i class="fa fa-map-signs how-icon"></i>
            </div>
            <h5>What is your <strong>INTENTION?</strong></h5>
            Add intentions that group techniques that you will later add. For example, a Brazilian Jiu Jitsu Practioner could add “Submissions” or “Sweeps” as intentions. 
          </div>
          <div class="productbox">
            <div>
              <i class="fa fa-play-circle-o how-icon"></i>
            </div>
            <h5><strong>HOW</strong> will you do it?</h5>
            Add techniques under your intentions and the details on how to perform them perfectly. You can add a youtube video, list individual steps and add free text for any other notes you want to record. 
          </div>
        </div>
          <div class="col-lg-6 col-sm-6">
            <div class="productbox">
              <div>
                <i class="fa fa-star-half-o how-icon"></i>
              </div>
              <h5><strong>CAN</strong> you do it?</h5>
              Add the level of proficiency of your added techniques to identify which are your go to moves and which need practice. 
            </div>
          <div class="productbox">
            <div>
              <i class="fa fa-users how-icon"></i>
            </div>
            <h5><strong>FLEXIBLE</strong> to you</h5>
            GRAPPLEDASH provides a structure for you to follow but by no means do you have to follow it to a tee. For example, maybe you want to record some movement drills. Simply add a position called “movement drills” and add your drills like you would any other techniques. 
          </div>
          <div class="productbox product-box-last">
            <div>
              <i class="fa fa-key how-icon"></i>
            </div>
            <h5>Your techniques are <strong>SECURE</strong></h5>
            Your GRAPPLEDASH is completely private and stored securely on an encrypted database. Only you will see your techniques. 
          </div>
        </div>
      </div>
    </div>
    <!-- Sign up -->
    <div id="pricing-section" class="pricing-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pricing">        
            <h3 class="section-header"><span>Advance your learning - starting right now</span></h3>
          </div>
        </div>
        <div class="col-md-5 toIn">
          <div class="price-column large">
            <h2>TESTER</h2>
            <h3>Free</h3>
            <ul>
              <li>Thanks for taking the time to provide feedback.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7  toIn">
          <div class="price-column large">
            <ul>
              <li>
              <div ng-show="signupFail" ng-repeat="errorMessage in errorMessages" class="alert alert-danger" id="signupFail" role="alert">{{ errorMessage }}</div>
              <form class="registration-form" ng-submit="signup()" >
                <div class="form-group">
                  <input id="full-name" type="text" name="full-name" ng-model="registrationForm.name" required="required" class="signup-text" placeholder=" &#xf007;   Full Name">
                </div>
                <div class="form-group">
                  <input id="email" type="email" name="email" ng-model="registrationForm.email" required="required"class="signup-text" placeholder=" &#xf0e0;   Email">
                </div>
                <div class="form-group">
                  <input id="password" type="password" name="password" ng-model="registrationForm.password" required="required" class="signup-text" placeholder=" &#xf023;    Password ">
                </div>
                <div class="form-group">
                  <input id="confirm" type="password" name="password" ng-model="registrationForm.password_confirmation" required="required" class="signup-text" placeholder=" &#xf023;    Confirm password ">
                </div>
                <div class="form-group">
                  <button class="btn1 btn-top btn-lg" type="submit">Sign up</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-->
    <div id="footer2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">© 2015 Grappledash</div>
            <div class="copyright">Have a question? Contact us at support@grappledash.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>